<h1 class="title">
    CONTATO
</h1>

<p>Você pode entrar em contato comigo pelo email dikruppengelmann@gmail.com ou pelo Instragram <a href="https://www.instagram.com/diogo.kruppe/?hl=pt-br">@diogokruppe</a></p>