<footer class="bg-light text-center text-lg-start">

        <h5 class="text-uppercase" id="footerTitle">OPÇÕES</h5>

        <ul class="list-unstyled text-center">
          <li class="text-center">
            <%= link_to 'Sobre', sobre_path, class: "text-dark" %>
          </li>
          <li class="text-center">
            <%= link_to 'Contato', contato_path, class: "text-dark" %>
          </li>
        </ul>



  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="https://www.instagram.com/diogo.kruppe/?hl=pt-br">Diogo Krupp</a>
  </div>
  
</footer>